@font-face {
    font-family: "Circular-Book";
    src: url("../../../resources/fonts/Circular-Std-Book.ttf") format("truetype");
}

.menu-header {
    position: relative;
    margin-bottom: 270px;
    margin-top: 250px;
    margin-left: 150px;
    &-title {
        position: relative;
        z-index: 2;
        font-size: 80px;
        font-family: "Circular-Book", Sans-serif;
        font-weight: bold;
        padding: 25px 0px 40px;

        &-img {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
        }
    }
    &-workingTime {
        margin-left: 50px;
        position: relative;
        color: #000000;
        font-family: "Circular-Book", Sans-serif;
        font-size: 27px;
        font-weight: 400;
        line-height: 35px;
    }
}
