@font-face {
  font-family: "OverpassMono-Light";
  src: url("../../resources/fonts/OverpassMono-Light.ttf") format("truetype");
  font-family: "OverpassMono-Regular";
  src: url("../../resources/fonts/OverpassMono-Regular.ttf") format("truetype");
  font-family: "Circular-Book";
  src: url("../../resources/fonts/Circular-Std-Book.ttf") format("truetype");
}

.foodAndDrinks {
  margin: 150px auto 0;
  max-width: 1280px;

  &-title {
    font-family: "Circular-Book", Sans-serif;
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
  }

  &-sections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  &-sections-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.2s ease-in 0s;
  }
  &-sections-photos:hover {
    opacity: 0.6;
  }

  &-sections-descriptions {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-size: 18px;
    font-family: "OverpassMono-Light", monospace;
  }
  &-sections-photos > a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-sections-descriptions > div {
    margin-top: 20px;
  }
}
